.product-form__container {
	position: relative;
	flex-basis: 100%;
	max-inline-size: 54rem;
	padding-block: var(--space-10);
	padding-inline: var(--space-11);
	border-radius: var(--border-radius-3);
	margin-inline: auto;
	background-color: var(--background-octonary);
}

.product-form__icon {
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: var(--space-11);
	translate: 0 -50%;
}

.product-form {
	display: flex;
	flex-direction: column;
	gap: var(--space-6);

	h3 {
		margin: 0;
	}
}

.product-form__actions {
	display: flex;
	gap: var(--space-4);
	justify-content: end;
	margin-block-start: var(--space-8);
}
