.heading-xl {
	font-size: var(--fs-title-xl);
	font-weight: var(--weight-bold);
	line-height: var(--lh-title-xl);
	word-spacing: var(--ws-title-xl);
}

.heading-lg {
	font-size: var(--fs-title-lg);
	font-weight: var(--weight-bold);
	line-height: var(--lh-title-lg);
	word-spacing: var(--ws-title-lg);
}

.heading-md {
	font-size: var(--fs-title-md);
	font-weight: var(--weight-bold);
	line-height: var(--lh-title-md);
	word-spacing: var(--ws-title-md);
}

.heading-sm {
	font-size: var(--fs-title-sm);
	font-weight: var(--weight-bold);
	line-height: var(--lh-title-sm);
	word-spacing: var(--ws-title-sm);
}

.body-lg {
	font-size: var(--fs-body-lg);
	font-weight: var(--weight-normal);
	line-height: var(--lh-body-lg);
}

.body-md {
	font-size: var(--fs-body-md);
	font-weight: var(--weight-normal);
	line-height: var(--lh-body-md);
}

.body-sm {
	font-size: var(--fs-body-sm);
	font-weight: var(--weight-semibold);
	line-height: var(--lh-body-sm);
}
